/* raleway-300 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/raleway-v11-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Raleway Light'), local('Raleway-Light'),
       url('../fonts/raleway-v11-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v11-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v11-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v11-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v11-latin-300.svg#Raleway') format('svg'); /* Legacy iOS */
}
.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
font-family: "Raleway", Impact, sans-serif;
 text-transform: none; }
 
 .reveal section img { background: none; }

.backgrounds .blur-background {
   -webkit-filter: saturate(.3) brightness(120%);
   -moz-filter: saturate(.3) brightness(120%);
   -o-filter: saturate(.3) brightness(120%);
   -ms-filter: saturate(.3) brightness(120%);
   filter: saturate(.3) brightness(120%);
}

.reveal section img.vmiddle { vertical-align: middle; }

.reveal section img.title-logo { margin: 0;}

.reveal section ul {
  width: 100%;
}